div.success-email {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    font-size: 32px;
    font-weight: 700;
    transform: translate(-50%, -50%);
    text-align: center;
}

a.no-items-button, a.other-button {
    font-size: 30px !important;
    font-weight: 600 !important;
}

div.flex-center {
    flex-direction: column;
    padding: 0 15px;
}

div.email-form {
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

div.no-items {
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.flex-center > p, div.flex-center > a {
    font-size: 20px;
}