footer {
    border-top: 3px solid #007bff !important;
    background-color: transparent !important;
    text-transform: uppercase;
    /*animation: 1s ease-in-out fadeInUp;*/
}

span.footer-text {
    color: #007bff;
    font-weight: 800;
    letter-spacing: 1px;
    /*animation: 1s ease-in-out fadeInUp;*/
    /* animation-delay: 100ms; */
}

a.footer-logo {
    color: gray;
    font-weight: 800;
    letter-spacing: 1px;
}