html,
body {
    height: 100%;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

*::selection {
    color: white;
    background-color: #20c997;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    /*margin-top: 15px;*/
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/
    "\e151";
}

a.desc:after {
    content: /*"\e114"*/
    "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    text-align: center;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

hr {
    border: 3px solid #20c997;
}


/* align the logout "link" (button in form) of the navbar */

.nav li>form>button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}

h1 {
    font-weight: 800;
}

button.logout {
    font-weight: 600;
    color: #8AC6D0 !important;
    letter-spacing: 1px;
}

.grid-view td {
    overflow-wrap: break-word;
    max-width: 200px;
}

.grid-view td .wrap {
    white-space: pre-wrap;
}

a.navbar-brand {
    padding: 5px 15px !important;
}

a.btn {
    white-space: normal !important;
}

#popup {
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    transition: all .5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: 800;
    font-size: 24px;
    padding: 15px 30px 0;
    border-radius: 15px;
    text-align: center;
    z-index: 3;
}

#popup.show {
    top: 10%;
}

#popup.remove {
    top: -50%;
}

section.contact {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    justify-content: space-between;
    background-color: #007bff;
    padding: 15px 20%;
    font-size: 24px;
    font-weight: 700;
    color: white !important;
}

section.contact > div > span {
    animation: blinker 3s linear infinite;
}

section.contact > div:nth-child(2) > span {
    animation-delay: 1s;
}

section.contact > div:nth-child(3) > span {
    animation-delay: 2s;
}

section.contact > div > a, section.contact > div > a:active, section.contact > div > a:visited {
    color: white !important;
}

@media screen and (max-width: 1480px) {
    section.contact {
        padding: 15px 5%;
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
