.cardsHolder {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

div.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid #007bff;
    border-radius: 10px;
    text-align: center;
    transition: 500ms;
}

div.card:hover {
    animation: 500ms ease-in-out pulse;
}

div.card:active{
    border: 3px solid #20c997;
}

div.card a:first-child {
    padding-top: 30px;
}

div.card a:last-child {
    padding-bottom: 30px;
}

div.card > a {
    color: #007bff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 800;
    padding: 5px 50px;
}

div.card > a.card-icon {
    font-size: 150px;
}

div.card > img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

div.cardsHolder > h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

#myCarousel{
    width: 80%;
    max-height: 500px;
}

#myCarousel > * {
    max-height: 500px;
}

div.item > img {
    width: 100%;
    max-height: 500px;
}

div.carousel-caption {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}

div.carousel-caption > h3 {
    font-size: 32px;
}


@media screen and (min-width: 480px){

    div.card {
        margin-right: 100px !important;
        margin-left: 100px !important;
    }

}

@media screen and (min-width: 992px){

    div.card {
        margin: 0 3% !important;
    }

}

@media screen and (max-width: 992px) {

    #myCarousel {
        width: 100%;
    }

    div.cardsHolder > h1 {
        font-size: 28px;
    }

    div.cardsHolder > div.flex-center {
        flex-direction: column;
    }

    div.cardsHolder > div.flex-center div:nth-child(2) {
        margin: 15px 0;
    }

    div.carousel-caption {
        background-color: transparent;
    }

    div.carousel-caption > h3 {
        font-size: 20px;
    }
}