div.success-email {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    font-size: 32px;
    font-weight: 700;
    transform: translate(-50%, -50%);
    text-align: center;
}

a.btn-primary {
    font-size: 30px;
    font-weight: 600;
}

div.flex-center {
    flex-direction: column;
    padding: 0 15px;
}

div.email-form {
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
}